body{
	background-color: purple;
	font-family: 'Open Sans';
}

.header{
	display: flex;
}
.icon{
	color: white;
	width: 40%;
}

.monitor{
	width:60%;
}

.monitor ul{
	list-style: none;
	padding-right: 15px;
	padding-bottom: 5px;
}

.monitor ul a{
	text-decoration: none;
	color: white;
	float: left;
	margin-right: 20px;
}

.login{
	margin-top: -7px;
	background-color: white;
	color: purple;
	font-size: 17px;
}

.dropdown{
	position: relative;
}

.dropdown-content{
	position: absolute;
	top:25px;
	background-color: white;
	color:purple;
	display: none;
}

.dropdown-content li{
	margin-top: 12px;
	padding-right: 14px;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.main{
	margin-top: 150px;
	color: white;
}
.description{
	width: 50%;
	margin-left: 80px;
}

.description h1{
	font-weight: bold;
}

.read{
	border:1px solid white;
	background-color: purple;
	color: white;
	font-size:18px;
}

img{
	width:450px;
	margin-left: 50px;
}

.main{
	display: flex;
}


.mobile{
	display: none;
}

@media only screen and (max-width: 400px) {
	body{
		background-color: pink;
	}

	.monitor{
		display: none;
	}

	.mobile{
		display: block;
		position: absolute;
	}

	.icon{
		margin-left:35px;
	}


	nav>ul{
		list-style: none;
		width: 80%;
		display: none;
	}

	nav ul a{
		text-decoration: none;
		color: white;
	}

	nav:hover ul{
		display: block;
		background-color: black;
	}

	.main{
		margin-top: 30px;
		margin-left: 10px;
		display: block;
	}

	.description{
		margin-left: 10px;
		width: 100%;
	}

	img{
		width:200px;
		margin-top:50px;
	}


}



