body{
	background-color: purple;
	font-family: 'Open Sans';
}

.header{
	display: flex;
}
.icon{
	color: white;
	width: 40%;
}

.nav{
	width:60%;
}

.nav ul{
	list-style: none;
	padding-right: 15px;
	padding-bottom: 5px;
}

.nav ul a{
	text-decoration: none;
	color: white;
	float: left;
	margin-right: 20px;
}

.login{
	margin-top: -7px;
	background-color: white;
	color: purple;
	font-size: 17px;
}

.dropdown{
	position: relative;
}

.dropdown-content{
	position: absolute;
	top:25px;
	background-color: white;
	color:purple;
	display: none;
}

.dropdown-content li{
	margin-top: 12px;
	padding-right: 14px;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.main{
	margin-top: 150px;
	color: white;
}
.description{
	width: 50%;
	margin-left: 80px;
}

.description h1{
	font-weight: bold;
}

.read{
	border:1px solid white;
	background-color: purple;
	color: white;
	font-size:18px;
}

img{
	width:450px;
	margin-left: 50px;
}

.main{
	display: flex;
}

@media only screen and (max-width: 600px) {
  body {
   	background-color: black;
  }

  img{
  	width: 200px;
  }

}



